@import '../base/variables';
@import '../base/mixins';

.about {
  padding: 50px 0;

  &__title {
    color: $green;
    font-size: 36px;
  }

  &__subtitle {
    color: $gray;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
  }

  &__paragraph {
    color: $darkestgray;
    font-size: 16px;
  }

  &__image {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }
}


@media screen and (max-width: $tablet) {
  .about {
    &__image {
      margin-top: 30px;
    }
  }
}
