@import '../base/variables';
@import '../base/mixins';

.banner {
  display: block;
  width: 100%;
  overflow: hidden;
  background: $black url('../imgs/bg_topo.png') no-repeat center center;
  background-size: cover;
  min-height: 560px;

  &__background-image {
    width: 100%;
    display: inline-block;
  }

  &__title-area {
    margin-top: 250px;
    width: 100%;
    left: 0;
    text-align: center;
  }

  &__title {
    width: 75%;
    text-align: center;
    display: inline-block;
    font-size: 56px;
    font-family: "Solomon", serif;
    color: $white;
  }

  &__title-highlight {
    color: $green;
  }
}



@media screen and (max-width: $tablet) {
  .banner {
    min-height: 0px;

    &__background-area {
      display: block;
      height: 100%;
    }

    &__background-image {
      width: auto;
      height: 100%;
    }

    &__title-area {
      margin-top: 170px;
      margin-bottom: 90px;
    }

    &__title {
      font-size: 32px;
      width: 90%;
    }


  }
}
