@import '../base/variables';
@import '../base/mixins';

.clients-carousel {
  margin: 40px 0 100px;

  &__title {
    font-size: 36px;
    text-align: center;
    font-weight: 600;
  }

  &__subtitle {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 40px;
    text-align: center;
    font-weight: 400;
  }

  &__carousel {
    font-size: 0;
  }

  &__item {
    text-align: center;
    padding: 0 15px;
  }

  &__img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }

  .slick-list {
    width: calc(100% - 160px);
    display: inline-block;
    vertical-align: middle;
  }

  .slick-arrow {
    width: 30px;
    vertical-align: middle;
    background-color: transparent;
    border: 0;
    height: 60px;

    &:hover {
      opacity: .5;
    }

    &:focus {
      outline: 2px auto $lightgreen;
    }
  }

  .slick-prev {
    background: transparent url('../imgs/volta.png') no-repeat center;
    background-size: auto 100%;
    margin-right: 50px;
  }

  .slick-next {
    background: transparent url('../imgs/vai.png') no-repeat center;
    background-size: auto 100%;
    margin-left: 50px;
  }
}


@media screen and (max-width: $phone) {
  .clients-carousel {
    &__title {
      line-height: 36px;
    }

    &__subtitle {
      margin-bottom: 20px;
    }

    .slick-list {
      width: 100%;
    }

    .slick-dots {
      display: inline-block;
      width: 100%;
      text-align: center;
      margin-top: 30px;

      li {
        display: inline-block;
        vertical-align: middle;
        margin: 0 5px 10px;
      }

      button {
        width: 14px;
        height: 14px;
        border: 1px solid $gray;
        background-color: $white;
        border-radius: 200rem;
      }

      .slick-active button {
        background-color: $green;
        border-color: $green;
      }
    }
  }
}
