@import '../base/variables';
@import '../base/mixins';

.contact {
  background: $white url('../imgs/bg_contato.png') no-repeat center top;
  padding: 60px 0;
  background-size: cover;

  &__title {
    font-size: 36px;
    text-align: center;
    font-weight: 600;
    color: $lightgreen;
  }

  &__subtitle {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 40px;
    text-align: center;
  }

  &__label {
    display: none;
    padding: 0 10px 0;
    margin-top: -45px;
    margin-bottom: 22px;
  }

  &__input {
    display: block;
    width: 100%;
    color: $darkgray;
    font-size: 14px;
    padding: 15px 10px 6px;
    border-radius: 3px;
    border: 1px solid $lightgray;
    margin-bottom: 15px;

    &:empty {
      + .contact__label {
        display: block;
      }
    }

    &:focus {
      border-color: $lightgreen;

      + .contact__label {
        display: none;
      }
    }

    &:valid {
      border-color: $lightgreen;
      color: $lightgreen;

      + .contact__label {
        display: none;
      }
    }
  }

  &__textarea {
    width: 100%;
    height: 95%;
    padding: 15px;
    border: 1px solid $lightgray;
    border-radius: 3px;

    &:focus, {
      border-color: $lightgreen;
    }

    &:valid {
      border-color: $lightgreen;
      color: $lightgreen;
    }
  }

  &__highlight {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
    color: $lightgreen;
    text-transform: uppercase;

    &:first-child {
      margin-top: 6px;
    }
  }

  &__info {
    display: block;
    width: 100%;
    color: $darkgray;
    font-size: 14px;
  }

  &__submit {
    background-color: transparent;
    border: 1px solid $green;
    border-radius: 200rem;
    padding: 22px 50px 20px;
    color: $green;
    font-size: 18px;
    font-weight: 600;

    &::before {
      content: "»";
      display: inline-block;
      vertical-align: top;
      margin-right: 5px;
      margin-left: -10px;
    }

    &:hover {
      background-color: $green;
      color: $white;
    }
  }
}


@media screen and (max-width: $tablet) {
  .contact {
    &__submit-area {
      text-align: center;
      margin-top: 30px;
      margin-bottom: 40px;
    }
  }
}
