@import '../base/variables';
@import '../base/mixins';

.faq {
  background: $lightgreen url('../imgs/bg_faq.png') no-repeat center top;
  padding: 60px 0;

  &__title {
    color: $white;
    font-size: 36px;
    text-align: center;
    font-weight: 600;
  }

  &__subtitle {
    color: $white;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 40px;
    text-align: center;
    font-weight: 400;
  }

  &__item {
    display: inline-block;
    width: 100%;
  }

  &__item-button {
    display: inline-block;
    width: 100%;
    background-color: $white;
    color: $green;
    font-family: 'Gotham', sans-serif;
    border: 0;
    padding: 20px 30px;
    border-radius: 200rem;
    text-align: left;
    font-size: 16px;
    font-weight: 600;

    span {
      width: calc(100% - 20px);
      display: inline-block;
      vertical-align: middle;
    }

    &::after {
      content: "";
      background-image: url('../imgs/seta_faq.png');
      width: 20px;
      height: 13px;
      display: inline-block;
      vertical-align: middle;
      background-repeat: no-repeat;
      background-position: center;
      @include transition (.3s ease-in-out);
    }
  }

  &__item-content {
    border-radius: 20px;
    background-color: $white;
    color: $gray;
    display: inline-block;
    width: 100%;
    max-height: 0px;
    padding: 0 50px;
    overflow: hidden;
    @include transition (.3s ease-in-out);

  }

  &__item--active {
    .faq__item-content {
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 60px 50px;
      max-height: 500px;
    }

    .faq__item-button::after {
      transform: rotate(180deg);
    }
  }
}



@media screen and (max-width: $tablet) {
  .faq {
    background-size: auto;

    &__title {
      line-height: 36px;
    }
  }
}
