@import '../base/variables';
@import '../base/mixins';

.footer {
  padding: 40px 0;
  font-size: 0;
  background-color: $white;

  &__menu {
    margin-bottom: 15px;
  }

  &__menu-item {
    list-style: none;
    margin-right: 40px;
    font-size: 18px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__menu-link {
    color: $darkgray;
    display: inline-block;

    &::before {
      content: "»";
      display: inline-block;
      vertical-align: top;
      margin-right: 5px;
    }

    &:hover {
      color: $green;
      text-decoration: none;
    }
  }

  &__logo-link {
    display: inline-block;
    width: calc(19% - 10px);
    vertical-align: middle;
    margin-right: 10px;
  }

  &__logo {
    display: block;
    width: 100%;
  }

  &__copyright {
    display: inline-block;
    width: calc(33% - 10px);
    color: $darkgray;
    font-size: 12px;
    vertical-align: middle;
    margin-right: 10px;
    text-align: center;
  }

  &__logo-list {
    display: inline-block;
    vertical-align: middle;
    width: calc(36% - 10px);
    margin-right: 10px;
  }

  &__logo-list-item {
    display: inline-block;
    vertical-align: middle;
    max-width: calc(40% - 20px);
    margin-right: 12px;

    &:last-child {
      margin-right: 0;
    }
  }
  &__logo-list-img {
    display: block;
    width: 100%;
  }

  &__social-media {
    width: 12%;
    display: inline-block;
    text-align: right;
  }

  &__social-media-item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__social-media-logo {
    display: block;
    width: 100%;
  }

  &__logo-list-link:hover .footer__logo-list-img,
  &__social-media-link:hover .footer__social-media-logo {
    @include transition (.3s ease-in-out);
    opacity: .75;
  }

}


@media screen and (max-width: $tablet-wide) {
  .footer {
    &__logo-link {
      width: calc(17% - 10px);
    }

    &__copyright {
      width: calc(25% - 10px);
    }

    &__logo-list {
      width: calc(43% - 10px)
    }

    &__social-media {
      width: 15%;
    }
  }
}

@media screen and (max-width: $tablet) {
  .footer {
    &__menu-item {
      margin-right: 0;
      display: block;
      width: 100%;
      text-align: center;
    }

    &__menu-link {
      padding: 10px 0;
    }

    &__logo-link,
    &__copyright,
    &__logo-list,
    &__social-media {
      display: block;
      width: 100%;
      text-align: center;
      margin: 10px 0 20px;
    }



    &__logo {
      width: auto;
      max-width: 100%;
      margin: 0 auto;
    }

  }
}

