@import '../base/variables';
@import '../base/mixins';

.header {
  width: 100%;
  padding: 30px 0;
  background-color: $white;
  border-bottom: 1px solid $lightgray;
  
  &--home {
    position: absolute;
    z-index: 1;
    color: $white;
    background-color: transparent;
    border: 0;
    
    .header__phone-number-area {
      display: none;
      
      &--home {
        display: block;
        float: none;
        padding-left: 0;
      }
    }
    
    .header__phone-number-item {
      &--whatsapp {
        color: $green;
        background: transparent;
        border: 0;
        padding: 0;
        line-height: normal;
        height: auto;
        
        &::after {        
          filter: none;
        }
      }
    }
    
    .header__menu {
      padding-top: 25px;
    }
    
    .header__menu-link {
      color: $white;
    }
  }

  &__phone-number-area {
    text-align: right;
    font-weight: 600;
    float: right;
    padding-left: 20px;
    
    &--home {
      display: none;
    }
  }

  &__phone-number-item {
    display: inline-block;
    margin-left: 10px;
    vertical-align: baseline;
    font-size: 18px;

    &--whatsapp {
      color: $white;
      background-color: $lightgreen;
      text-decoration: none;
      text-align: center;
      border-radius: 200rem;
      height: 100%;
      line-height: 42px;
      padding: 0 20px;
      
      &::after {
        content: "";
        background-image: url('../imgs/whatsapp.png');
        background-size: cover;
        filter: brightness(0) invert(1);
        width: 19px;
        height: 19px;
        display: inline-block;
        margin-left: 2px;
        vertical-align: sub;
      }
      
      &:hover {
        text-decoration: none;
        color: $white;
      }
    }
  }

  &__phone-number-label {
    font-size: 10px;
    text-transform: uppercase;
    display: block;
    text-align: left;
  }

  &__logo {
    display: inline-block;
    max-width: 100%;
  }

  &__menu {
    font-family: "Yellow", serif;
    font-size: 16px;
  }

  &__menu-link {
    color: $darkgray;
    padding: .5rem .6rem;

    &:hover {
      opacity: 1;
      color: $lightgreen;
    }
    
    &--active {
      color: $lightgreen;
      border-bottom: 2px solid $lightgreen;
    }
  }

  &__menu-item {
    &:last-child {
      .header__menu-link {
        padding-right: 0;
      }
    }
  }

  &__mobile-button, 
  &__phone-number-area--mobile {
    display: none;
  }
}


@media screen and (max-width: $tablet) {
  .header {
    &--home {
      .header__phone-number-area {
        display: inline-block;
          
        &--home {
          display: none;
        }
      }
    }
    
    &__mobile-button {
      display: inline-block;
    }

    &__phone-number-area {
      width: 100%;
      text-align: center;
      display: inline-block;
      float: none;
      color: $white;
      padding-left: 0;
      
      &--home {
        display: none;
      }
    }
    
    &__phone-number-item {
      vertical-align: baseline;
      
      &--whatsapp {
        padding: 0;
        background: transparent;
        color:  $green;

        &::after {
          filter: none;
        }
      }
    }

    &__mobile-button {
      float: right;
      background-color: transparent;
      border: 0;
      width: 30px;
      height: 30px;
      padding: 0;
      margin-top: 10px;

      .icon-bar {
        height: 2px;
        background-color: $green;
        display: block;
        width: 100%;
        margin-bottom: 5px;
      }
    }

    &__menu-area {
      position: static;
    }

    &__mobile-menu {
      position: absolute;
      right: 0;
      top: 0;
      background: rgba(0,0,0,.8);
      width: 100vw;
      padding: 30px 40px;
      height: 100vh;
      transition: 0s;
      overflow: hidden;
      text-align: center;
      z-index: 5;
    }

    &__menu-item {
      display: block;
      width: 100%;
      text-align: center;
    }
    
    &__menu-link {
      color: $white;
    
      &--active {
        color: $lightgreen;
        border-bottom: 2px solid $lightgreen;
      }
    }
  }
}

@media screen and (max-width: $phablet) {
  .header {
    &__mobile-menu {
      padding: 30px 15px;
    }
  }
}

@media screen and (min-width: $tablet) {
  .header {
    &__mobile-menu.collapse:not(.show) {
      display: block;
    }
  }
}
