@import '../base/variables';
@import '../base/mixins';

.institutional {
  padding: 40px 0;

  &__title {
    font-size: 36px;
    font-weight: 600;
  }

  &__description {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  &__rate {
    font-size: 14px;
    margin-bottom: 10px;
  }

  &__star {
    color: $yellow;
  }

  &__paragraph {
    font-weight: 200;
    font-size: 16px;
    margin: 10px 0;
  }

  &__subtitle {
    margin: 20px 0 10px;
    font-size: 16px;

    &--highlight {
      color: $lightgreen;
      font-size: 32px;
      margin-top: 30px;
    }
  }

  &__picture {
    display: block;
    width: 100%;

    &--highlight {
      margin-top: 20px;
      border-bottom-left-radius: 100px;
    }
  }

  &__map-title {
    margin: 60px 0 30px;
    color: $gray;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
  }

  &__map-area {
    margin-bottom: 40px
  }
}


@media screen and (max-width: $tablet) {
  .institutional {
    &__picture {
      &--highlight {
        border-bottom-left-radius: 70px;
      }
    }


    &__map-title {
      margin-top: 30px;
    }

    &__map-area {
      margin-bottom: 10px
    }
  }
}

