@import '../base/variables';
@import '../base/mixins';

.portfolio {
  padding: 50px 0;
  text-align: center;

  &__title {
    font-size: 36px;
    text-align: center;
  }

  &__subtitle {
    color: $gray;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
  }

  &__list {
    display: inline-block;
    width: 100%;
    font-size: 0;
    text-align: left;
  }

  &__item {
    display: inline-block;
    width: calc((100% / 4) - 30px);
    margin: 0 7.5px 15px 7.5px;
  }

  &__link:hover {
    .portfolio__img {
      @include transition (.3s ease-in-out);
      opacity: .75;
    }
  }

  &__img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }
}


@media screen and (max-width: $tablet) {
  .portfolio {
    text-align: left;

    &__list {
      text-align: center;
    }

    &__item {
      width: calc((100% / 2) - 30px);
    }
  }
}

@media screen and (max-width: $phone) {
  .portfolio {

    &__title {
      line-height: 36px;
    }

    &__item {
      width: 100%;
      margin: 0 0 15px;
    }
  }
}
