@import '../base/variables';
@import '../base/mixins';

.price-list {
  padding: 70px 0 0;
  text-align: center;

  &__title {
    font-size: 36px;
    text-align: center;
    font-weight: 600;
  }

  &__subtitle {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 40px;
    text-align: center;
    font-weight: 400;
  }

  &__list {
    display: inline-block;
    width: 100%;
    text-align: left;
    font-size: 0;
  }

  &__item {
    display: inline-block;
    vertical-align: top;
    border: 1px solid $lightgray;
    border-radius: 20px;
    overflow: hidden;
    font-size: 16px;
    width: calc((100% / 4) - 60px);
    margin: 0 30px 60px;
    line-height: 20px;

    &:nth-child(4n+1),
    &:first-child {
      margin-left: 0;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }

  &__thumb {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    height: 110px;
    vertical-align: top;

    img {
      display: block;
      width: 100%;
    }
  }

  &__product-name {
    padding: 15px 25px;
    color: $black;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    width: 100%;
    vertical-align: top;
  }

  &__from-price {
    display: block;
    margin-left: 50px;
    color: $darkgray;
    font-weight: 600;
    position: relative;
    max-width: 90px;
    text-decoration: line-through;
    margin-bottom: 5px;
  }

  &__price {
    display: block;
    margin-left: 50px;
    color: $lightgreen;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    margin-bottom: 5px;
  }

  &__buy-button {
    display: block;
    margin: 0 auto;
    background-color: $lightgreen;
    color: $white;
    border-radius: 5px;
    width: 60%;
    text-align: center;
    font-size: 11px;
    font-weight: 200;
    padding: 15px 0 12px;
    text-transform: uppercase;
    text-decoration: none;
    @include transition (.3s ease-in-out);

    &::before {
      content: "";
      background-image: url('../imgs/carrinho.png');
      width: 23px;
      height: 25px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
    }
  }

  &__know-more {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: $darkgray;
    font-weight: 400;
    margin: 15px 0;
    font-size: 12px;
    text-decoration: none;
  }

  &__link {
    text-decoration: none;

    &:hover {
      text-decoration: none;
      opacity: 1;

      .price-list__buy-button {
        background-color: $darkgray;
      }
    }
  }
}

@media screen and (max-width: $tablet-wide) {
  .price-list {
    &__item {
      width: calc((100% / 2) - 60px);
      margin: 0 60px 60px 0;

      &:nth-child(even) {
        margin-right: 0;
      }

      &:nth-child(odd) {
        margin-left: 30px;
      }
    }
  }
}

@media screen and (max-width: $phone) {
  .price-list {
    &__list {
      width: 80%;
    }

    &__item {
      width: 100%;
      margin: 0 0 30px 0;

      &:nth-child(even) {
        margin-right: 0;
      }

      &:nth-child(odd) {
        margin-left: 0;
      }
    }
  }
}
