@import '../base/variables';
@import '../base/mixins';

.speakers-showcase {
  background: $black url(../imgs/bg_locutores.png) center top;
  padding: 60px 0;
  background-position: cover;

  &__title {
    color: $white;
    font-size: 36px;
    text-align: center;
    font-weight: 600;
  }

  &__subtitle {
    color: $green;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 400;
  }

  &__filter {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }

  &__filter-item {
    display: inline-block;
    vertical-align: middle;
    max-width: calc((100% / 5) - 20px);
    margin: 0 10px 10px;
  }

  &__filter-button {
    background-color: transparent;
    color: $white;
    border: 2px solid $white;
    border-radius: 200rem;
    padding: 12px 30px 10px;
    font-size: 15px;

    &--active,
    &:hover {
      color: $green;
      opacity: 1;
      border-color: $green;
    }
  }

  &__results {

  }

  &__list {
    display: inline-block;
    width: 100%;
    text-align: left;
    font-size: 0;
  }

  &__item {
    display: inline-block;
    margin: 10px;
    vertical-align: top;
    width: calc((100% / 5) - 20px);
    font-size: 16px;

    &--hide {
      display: none;
    }
  }

  &__photo {
    display: inline-block;
    width: 100%;

    img {
      display: block;
      width: 100%;
    }
  }

  &__play-button {
    color: $white;
    font-size: 12px;
    margin-bottom: 5px;
    display: inline-block;

    &::before {
      content: '\25BA';
      display: inline-block;
      margin-right: 5px;
      color: $white;
      font-size: 20px;
      line-height: 20px;
      vertical-align: bottom;
      @include transition (.3s ease-in-out);
      font-family: 'Arial', sans-serif;
    }

    &:hover {
      text-decoration: none;
      opacity: 1;
      color: $green;

      &::before {
        color: $green;
      }
    }
  }

  &__speaker-info {
    display: inline-block;
    width: 100%;
    font-size: 13px;
    font-weight: 600;
    color: $white;

    a {
      color: $green;
      display: inline-block;
      text-decoration: none;

      &:hover {
        opacity: .5;
      }
    }
  }

  &__speaker-line {
    display: block;
    width: 100%;
  }

  &__load-more {
    background-color: transparent;
    color: $white;
    border: 3px solid $green;
    border-radius: 200rem;
    padding: 15px 30px 13px;
    font-size: 14px;
    display: block;
    margin: 10px auto 0;
    font-weight: 600;

    &::after {
      content: '\25BA';
      display: inline-block;
      margin-left: 5px;
      font-size: 10px;
      vertical-align: text-bottom;
      margin-top: 0;
      transform: rotate(90deg);
      @include transition (.3s ease-in-out);
      font-family: 'Arial', sans-serif;
    }

    &:hover {
      opacity: 1;
      background-color: $green;
    }
  }
}

@media screen and (max-width: $tablet-wide) {
  .speakers-showcase {
    &__filter-item{
      max-width: calc((100% / 3) - 20px);

      &:nth-child(3n-1) {
        margin: 0 20px;
      }
    }

    &__filter-button {
      font-size: 16px;
    }

    &__item {
      width: calc((100% / 3) - 20px)
    }
  }
}

@media screen and (max-width: $phone) {
  .speakers-showcase {

    &__filter-item{
      max-width: none;
      width: 100%;
      margin: 0 0 10px;

      &:nth-child(3n-1) {
        margin: 0 0 10px;
      }
    }

    &__filter-button {
      font-size: 16px;
      width: 100%;
    }

    &__item {
      width: calc((100% / 2) - 20px)
    }
  }
}
