@import '../base/variables';
@import '../base/mixins';

.testimonials {
  margin-bottom: 40px;

  &__title {
    font-size: 36px;
    text-align: center;
    font-weight: 600;
    color: $lightgreen;
  }

  &__subtitle {
    margin-bottom: 50px;
    text-align: center;
    font-size: 16px;
    font-weight: 200;
  }

  &__list {
    font-size: 0;
  }


  &__item {
    display: inline-block;
    margin: 0 20px;
  }

  &__logo {
    display: block;
    width: 100%;
    text-align: center;

    img {
      display: block;
      max-width: 100%;
      margin: 0 auto;
    }
  }

  &__paragraph {
    display: block;
    width: 100%;
    text-align: center;
    margin: 15px 0;
    font-size: 14px;
  }

  &__author {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 14px;
  }

  &__author-picture {
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    border-radius: 200rem;

    img {
      min-width: 100%;
      min-height: 100%;
      display: block;
    }
  }

  &__author-name {
    display: inline-block;
    vertical-align: middle;
    color: $black;
    margin-left: 10px;
    font-weight: 400;
  }

  .slick-list {
    width: calc(100% - 160px);
    display: inline-block;
    vertical-align: middle;
  }

  .slick-arrow {
    width: 30px;
    vertical-align: middle;
    background-color: transparent;
    border: 0;
    height: 60px;

    &:hover {
      opacity: .5;
    }

    &:focus {
      outline: 2px auto $lightgreen;
    }
  }

  .slick-prev {
    background: transparent url('../imgs/volta.png') no-repeat center;
    background-size: auto 100%;
    margin-right: 50px;
  }

  .slick-next {
    background: transparent url('../imgs/vai.png') no-repeat center;
    background-size: auto 100%;
    margin-left: 50px;
  }
}



@media screen and (max-width: $phone) {
  .testimonials {
    margin-bottom: 10px;

    .slick-list {
      width: 100%;
    }

    .slick-dots {
      display: inline-block;
      width: 100%;
      text-align: center;
      margin-top: 30px;

      li {
        display: inline-block;
        vertical-align: middle;
        margin: 0 5px 10px;
      }

      button {
        width: 14px;
        height: 14px;
        border: 1px solid $gray;
        background-color: $white;
        border-radius: 200rem;
      }

      .slick-active button {
        background-color: $green;
        border-color: $green;
      }
    }
  }
}
