<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{name}} - Home</title>
	{{>head-includes}}
</head>
<body>

	{{>header page="home"}}
	{{>banner}}
	{{>about}}
	{{>clients-carousel}}
	{{>speakers-showcase}}
	{{>price-list}}
	{{>portfolio}}
	{{>faq}}
	{{>contact}}
	{{>footer}}
</body>
</html>
