<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{name}} - Passo 3: Pagamento</title>
	{{>head-includes}}
</head>
<body>

	{{>header}}
	{{>payment}}
	{{>payment-success}}
	{{>payment-neutral}}
	{{>payment-error}}
	{{>footer}}
</body>
</html>
