<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{name}} - Single product</title>
	{{>head-includes}}
</head>
<body>

	{{>header}}
	{{>product-details}}
	{{>record-demonstration}}
	{{>testimonials}}
	{{>portfolio}}
	{{>faq}}
	{{>contact}}
	{{>footer}}
</body>
</html>
