<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{name}} - Locutores</title>
	{{>head-includes}}
</head>
<body>

	{{>header}}
	{{>our-speakers}}
	{{>testimonials}}
	{{>portfolio}}
	{{>faq}}
	{{>contact}}
	{{>footer}}
</body>
</html>
