<div class="about">
	<div class="container">
		<div class="row">
			<div class="offset-md-1 col-md-6">
				<h2 class="about__title">Sobre nossa empresa.</h2>
				<h3 class="about__subtitle">Saiba um pouco mais sobre nós.</h3>
				<p class="about__paragraph">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse quis accumsan sapien, eu vestibulum libero. Donec quis erat vel justo finibus aliquet quis eget arcu. Quisque hendrerit, sem eu sollicitudin sagittis, nisl orci rhoncus velit, mollis cursus ipsum metus sed odio. Praesent sed scelerisque diam. Cras vulputate a dolor sit amet commodo. Cras scelerisque sapien convallis nulla auctor pretium. Nam nec porta est, sed tincidunt orci. Morbi eu lorem quis quam accumsan ornare eu a nisl. Vivamus tincidunt dolor eu odio semper, pharetra fringilla nisl vehicula. Mauris ac magna hendrerit, elementum metus sed, rhoncus nunc. Quisque tincidunt fringilla neque mattis vulputate.
					<br /><br />
					Quisque in tortor nisi. Aliquam erat volutpat. Cras sollicitudin nisl quam, ut dignissim felis gravida a. In laoreet interdum mi in porta. Sed malesuada metus vitae rutrum posuere. Vivamus tristique quis ligula sed facilisis. Pellentesque scelerisque efficitur nisi id egestas. Quisque gravida neque quis urna interdum efficitur. 
				</p>
			</div>
			<div class="offset-md-1 col-md-3">
				<img src="public/imgs/img_microphone.png" alt="microfone" class="about__image" />
			</div>
		</div>

	</div>
</div>
