<div class="banner">
	<div class="banner__title-area">
		<div class="container">
			<h1 class="banner__title">Locução profissional para seu vídeo, <span class="banner__title-highlight">contrate online..</span></h1>
		</div>
	</div>
</div>
