<div class="clients-carousel">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h2 class="clients-carousel__title">Alguns de nossos clientes.</h2>
				<h3 class="clients-carousel__subtitle">Clientes que confiaram na 99 Áudios.</h3>

				<ul class="clients-carousel__carousel">
					<li class="clients-carousel__item">
						<img src="public/imgs/oticia_diniz.png" alt="Ótica Diniz" class="clients-carousel__img" />
					</li>
					<li class="clients-carousel__item">
						<img src="public/imgs/BV.png" alt="BV" class="clients-carousel__img" />
					</li>
					<li class="clients-carousel__item">
						<img src="public/imgs/unip.png" alt="UNIP" class="clients-carousel__img" />
					</li>
					<li class="clients-carousel__item">
						<img src="public/imgs/vivo.png" alt="Vivo" class="clients-carousel__img" />
					</li>
					<li class="clients-carousel__item">
						<img src="public/imgs/oticia_diniz.png" alt="Ótica Diniz" class="clients-carousel__img" />
					</li>
					<li class="clients-carousel__item">
						<img src="public/imgs/oticia_diniz.png" alt="Ótica Diniz" class="clients-carousel__img" />
					</li>
					<li class="clients-carousel__item">
						<img src="public/imgs/oticia_diniz.png" alt="Ótica Diniz" class="clients-carousel__img" />
					</li>
					<li class="clients-carousel__item">
						<img src="public/imgs/oticia_diniz.png" alt="Ótica Diniz" class="clients-carousel__img" />
					</li>
					<li class="clients-carousel__item">
						<img src="public/imgs/BV.png" alt="BV" class="clients-carousel__img" />
					</li>
					<li class="clients-carousel__item">
						<img src="public/imgs/BV.png" alt="BV" class="clients-carousel__img" />
					</li>
					<li class="clients-carousel__item">
						<img src="public/imgs/BV.png" alt="BV" class="clients-carousel__img" />
					</li>
					<li class="clients-carousel__item">
						<img src="public/imgs/unip.png" alt="UNIP" class="clients-carousel__img" />
					</li>
					<li class="clients-carousel__item">
						<img src="public/imgs/unip.png" alt="UNIP" class="clients-carousel__img" />
					</li>
					<li class="clients-carousel__item">
						<img src="public/imgs/vivo.png" alt="Vivo" class="clients-carousel__img" />
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
