<div class="contact">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h2 class="contact__title">Orçamento e Contato.</h2>
				<h3 class="contact__subtitle">Solicite seu orçamento, ou faça uma pergunta, será um prazer responder.</h3>
			</div>
		</div>
		<form class="row">
			<div class="col-lg-9 col-12">
				<div class="row">
					<div class="col-lg-6 col-12">
						<input type="text" name="name" id="name" class="contact__input" required="true" />
						<label for="name" class="contact__label">Informe seu nome.</label>
						<input type="text" name="email" id="email" class="contact__input" required="true" />
						<label for="name" class="contact__label">Seu e-mail.</label>
						<input type="text" name="subject" id="subject" class="contact__input" required="true" />
						<label for="name" class="contact__label">Assunto do seu e-mail.</label>
						<input type="text" name="phone" id="phone" class="contact__input" required="true" />
						<label for="name" class="contact__label">Seu telefone ou Whatsapp.</label>
					</div>
					<div class="col-lg-6 col-12">
						<textarea class="contact__textarea" required="true"></textarea>
					</div>
					<div class="col-12 contact__submit-area">
						<button type="submit" name="submit" id="submit" class="contact__submit" >Enviar agora</button>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-12">
				<h4 class="contact__highlight">Ligue fácil:</h4>
				<p class="contact__info">(11) 2345 1000 (Escritório São Paulo)</p>
				<p class="contact__info">(11) 9 8134 4243 (Whatsapp)</p>
				<p class="contact__info">(88) 3243 4343 (Escritório Ceará)</p>
				<h4 class="contact__highlight">Endereços:</h4>
				<p class="contact__info">
					Rua Independência, 2650 <br /> São José do Rio Preto
				</p>
				<p class="contact__info">
					Rua General Glicerio, 234 B <br /> Camocim CE
				</p>
			</div>
		</form>
	</div>
</div>
