<div class="faq">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h2 class="faq__title">Perguntas frequentes.</h2>
				<h3 class="faq__subtitle">Veja as principais dúvidas dos nosso clienetes, uma delas pode ser a sua. ;)</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="faq__item">
					<button class="faq__item-button faq__button-item--active"><span>Vocês emitem nota fiscal?</span></button>
					<p class="faq__item-content">
						Quisque in tortor nisi. Aliquam erat volutpat. Cras sollicitudin nisl quam, ut dignissim felis gravida a. In laoreet interdum mi in porta. Sed malesuada metus vitae rutrum posuere. Vivamus tristique quis ligula sed facilisis. Pellentesque scelerisque efficitur nisi id egestas. Quisque gravida neque quis urna interdum efficitur. 
					</p>
				</div>
				<div class="faq__item">
					<button class="faq__item-button"><span>Vocês emitem nota fiscal?</span></button>
					<p class="faq__item-content">
						Quisque in tortor nisi. Aliquam erat volutpat. Cras sollicitudin nisl quam, ut dignissim felis gravida a. In laoreet interdum mi in porta. Sed malesuada metus vitae rutrum posuere. Vivamus tristique quis ligula sed facilisis. Pellentesque scelerisque efficitur nisi id egestas. Quisque gravida neque quis urna interdum efficitur. 
					</p>
				</div>
				<div class="faq__item">
					<button class="faq__item-button"><span>Vocês emitem nota fiscal?</span></button>
					<p class="faq__item-content">
						Quisque in tortor nisi. Aliquam erat volutpat. Cras sollicitudin nisl quam, ut dignissim felis gravida a. In laoreet interdum mi in porta. Sed malesuada metus vitae rutrum posuere. Vivamus tristique quis ligula sed facilisis. Pellentesque scelerisque efficitur nisi id egestas. Quisque gravida neque quis urna interdum efficitur. 
					</p>
				</div>
				<div class="faq__item">
					<button class="faq__item-button"><span>Vocês emitem nota fiscal?</span></button>
					<p class="faq__item-content">
						Quisque in tortor nisi. Aliquam erat volutpat. Cras sollicitudin nisl quam, ut dignissim felis gravida a. In laoreet interdum mi in porta. Sed malesuada metus vitae rutrum posuere. Vivamus tristique quis ligula sed facilisis. Pellentesque scelerisque efficitur nisi id egestas. Quisque gravida neque quis urna interdum efficitur. 
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
