<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<ul class="nav justify-content-center footer__menu">
					<li class="footer__menu-item">
						<a href="#" class="footer__menu-link">Política de privacidade</a>
					</li>
					<li class="footer__menu-item">
						<a href="#" class="footer__menu-link">Termos de uso</a>
					</li>
					<li class="footer__menu-item">
						<a href="#" class="footer__menu-link">Direito de uso de voz</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="offset-lg-1 col-lg-10">
				<a href="/" class="footer__logo-link">
					<img src="public/imgs/logo_pages.png" alt="99 áudios" class="footer__logo" />
				</a>
				<span class="footer__copyright">
					Copyright © 99 Áudios. Todos os direitos reservados.
				</span>
				<ul class="footer__logo-list">
					<li class="footer__logo-list-item">
						<a href="#" class="footer__logo-list-link">
							<img src="public/imgs/logo_gerencianet.png" alt="GerenciaNet" class="footer__logo-list-img" />
						</a>
					</li>
					<li class="footer__logo-list-item">
						<a href="#" class="footer__logo-list-link">
							<img src="public/imgs/site_seguro.png" alt="Site Lock" class="footer__logo-list-img" />
						</a>
					</li>
					<li class="footer__logo-list-item">
						<a href="#" class="footer__logo-list-link">
							<img src="public/imgs/selo_sustentabilidade.png" alt="Sustentabilidade" class="footer__logo-list-img" />
						</a>
					</li>
				</ul>
				<ul class="footer__social-media">
					<li class="footer__social-media-item">
						<a href="#" class="footer__social-media-link">
							<img src="public/imgs/facebook.png" alt="GerenciaNet" class="footer__social-media-logo" />
						</a>
					</li>
					<li class="footer__social-media-item">
						<a href="#" class="footer__social-media-link">
							<img src="public/imgs/youtube.png" alt="Site Lock" class="footer__social-media-logo" />
						</a>
					</li>
					<li class="footer__social-media-item">
						<a href="#" class="footer__social-media-link">
							<img src="public/imgs/twitter.png" alt="Sustentabilidade" class="footer__social-media-logo" />
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
