{{#if page}}
   <header class="header header--home">
 {{else}}
  <header class="header">
{{/if}}
	<div class="container">
		<div class="row">
			<div class="col-lg-5 offset-lg-7 header__phone-number-area header__phone-number-area--home">
				<div class="header__phone-number-item">
					<span class="header__phone-number-label">Ligue fácil</span>
					<span class="header__phone-number">(11) 3621-6142</span>
				</div>
				<a class="header__phone-number-item header__phone-number-item--whatsapp" href="#">
					<span class="header__phone-number">(11) 3621-6142</span>
				</a>
			</div>
		</div>
		<div class="row">
      {{#if page}}
			<div class="col-lg-3 col-6">
      {{else}}
      <div class="col-lg-2 col-6">
      {{/if}}
				<a href="/" class="header__logo-link">
          {{#if page}}
					  <img src="public/imgs/logotipo.png" alt="99 áudios" class="header__logo" />
           {{else}}
					  <img src="public/imgs/logo_pages.png" alt="99 áudios" class="header__logo" />
          {{/if}}
				</a>
			</div>

      {{#if page}}
			<div class="col-lg-9 col-6 header__menu-area">
      {{else}}
			<div class="col-lg-10 col-6 header__menu-area">
      {{/if}}
		    <div class="navbar-header">
		      <button type="button" class="header__mobile-button navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-header" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		    </div>
    		<div class="collapse navbar-collapse header__mobile-menu" id="menu-header">
		      <button type="button" class="header__mobile-button navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-header" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
  				<div class="header__phone-number-area">
						<div class="header__phone-number-item">
							<span class="header__phone-number-label">Ligue fácil</span>
							<span class="header__phone-number">(11) 3621-6142</span>
						</div>
						<a class="header__phone-number-item header__phone-number-item--whatsapp" href="#">
							<span class="header__phone-number">(11) 3621-6142</span>
						</a>
					</div>
					<ul class="nav justify-content-end header__menu">
						<li class="nav-item header__menu-item">
							<a href="#" class="nav-link header__menu-link">Home</a>
						</li>
						<li class="nav-item header__menu-item">
							<a href="#" class="nav-link header__menu-link">Quem somos</a>
						</li>
						<li class="nav-item header__menu-item">
							<a href="#" class="nav-link header__menu-link">Locutores</a>
						</li>
						<li class="nav-item header__menu-item">
							<a href="#" class="nav-link header__menu-link">Preços</a>
						</li>
						<li class="nav-item header__menu-item">
							<a href="#" class="nav-link header__menu-link">Blog</a>
						</li>
						<li class="nav-item header__menu-item">
							<a href="#" class="nav-link header__menu-link">Dúvidas</a>
						</li>
            {{#if page}}
						<li class="nav-item header__menu-item">
							<a href="#" class="nav-link header__menu-link">Orçamento/Contato</a>
						</li>
            {{else}}
						<li class="nav-item header__menu-item">
							<a href="#" class="nav-link header__menu-link header__menu-link--active">Orçamento/Contato</a>
						</li>
            {{/if}}
					</ul>
				</div>

			</div>
		</div>
	</div>
</header>
