<div class="institutional">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1 class="institutional__title">
					Sobre nossa empresa.
				</h1>
				<h2 class="institutional__description">
					Conheça um pouco sobre nossa empresa.
				</h2>
				<div class="institutional__rate">
					<span class="institutional__star">★</span>
					<span class="institutional__star">★</span>
					<span class="institutional__star">★</span>
					<span class="institutional__star">★</span>
					<span class="institutional__star">★</span>
				</div>
			</div>
			<div class="col-lg-7 col-12">
				<p class="institutional__paragraph">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse quis accumsan sapien, eu vestibulum libero. Donec quis erat vel justo finibus aliquet quis eget arcu. Quisque hendrerit, sem eu sollicitudin sagittis, nisl orci rhoncus velit, mollis cursus ipsum metus sed odio. Praesent sed scelerisque diam. Cras vulputate a dolor sit amet commodo. Cras scelerisque sapien convallis nulla auctor pretium. Nam nec porta est, sed tincidunt orci. Morbi eu lorem quis quam accumsan ornare eu a nisl. Vivamus tincidunt dolor eu odio semper, pharetra fringilla nisl vehicula. Mauris ac magna hendrerit, elementum metus sed, rhoncus nunc. Quisque tincidunt fringilla neque mattis vulputate.
				</p>
			</div>
			<div class="col-lg-5 col-12">
				<img src="public/imgs/empresa_foto.png" alt="Empresa" class="institutional__picture" />
			</div>
			<div class="col-12">
				<h3 class="institutional__subtitle">
					Sub-titulo da página
				</h3>
				<p class="institutional__paragraph">
					Quisque in tortor nisi. Aliquam erat volutpat. Cras sollicitudin nisl quam, ut dignissim felis gravida a. In laoreet interdum mi in porta. Sed malesuada metus vitae rutrum posuere. Vivamus tristique quis ligula sed facilisis. Pellentesque scelerisque efficitur nisi id egestas. Quisque gravida neque quis urna interdum efficitur. 
				</p>
			</div>
			<div class="col-lg-6 col-12">
				<img src="public/imgs/empresa_func.png" alt="Empresa" class="institutional__picture institutional__picture--highlight" />
			</div>
			<div class="col-lg-6 col-12">
				<h3 class="institutional__subtitle institutional__subtitle--highlight">
					Por que fazemos diferente...
				</h3>
				<p class="institutional__paragraph">
					Quisque in tortor nisi. Aliquam erat volutpat. Cras sollicitudin nisl quam, ut dignissim felis gravida a. In laoreet interdum mi in porta. Sed malesuada metus vitae rutrum posuere. Vivamus tristique quis ligula sed facilisis. Pellentesque scelerisque efficitur nisi id egestas. Quisque gravida neque quis urna interdum efficitur. 
					Quisque in tortor nisi. Aliquam erat volutpat. Cras sollicitudin nisl quam, ut dignissim felis gravida a. In laoreet interdum mi in porta. Sed malesuada metus vitae rutrum posuere. Vivamus tristique quis ligula sed facilisis. Pellentesque scelerisque efficitur nisi id egestas. Quisque gravida neque quis urna interdum efficitur.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<h2 class="institutional__map-title">Conheça um pouco mais sobre a 99.</h2>
			</div>
			<div class="col-lg-8 offset-lg-2">
				<div class="institutional__map-area">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.148645254729!2d-46.65657118469337!3d-23.56310428468194!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce59c8da0aa315%3A0xd59f9431f2c9776a!2sAv.+Paulista%2C+S%C3%A3o+Paulo+-+SP!5e0!3m2!1spt-BR!2sbr!4v1552318380946" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
</div>
