<div class="portfolio">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="portfolio__title">Trabalhos realizados.</h2>
				<h3 class="portfolio__subtitle">Confira alguns momentos que emprestamos nossas vozes.</h3>
				<ul class="portfolio__list">
					<li class="portfolio__item">
						<a href="#" class="portfolio__link">
							<img src="public/imgs/video_1.png" alt="video" class="portfolio__img">
						</a>
					</li>
					<li class="portfolio__item">
						<a href="#" class="portfolio__link">
							<img src="public/imgs/video_2.png" alt="video" class="portfolio__img">
						</a>
					</li>
					<li class="portfolio__item">
						<a href="#" class="portfolio__link">
							<img src="public/imgs/video_3.png" alt="video" class="portfolio__img">
						</a>
					</li>
					<li class="portfolio__item">
						<a href="#" class="portfolio__link">
							<img src="public/imgs/video_4.png" alt="video" class="portfolio__img">
						</a>
					</li>
					<li class="portfolio__item">
						<a href="#" class="portfolio__link">
							<img src="public/imgs/video_5.png" alt="video" class="portfolio__img">
						</a>
					</li>
					<li class="portfolio__item">
						<a href="#" class="portfolio__link">
							<img src="public/imgs/video_6.png" alt="video" class="portfolio__img">
						</a>
					</li>
					<li class="portfolio__item">
						<a href="#" class="portfolio__link">
							<img src="public/imgs/video_1.png" alt="video" class="portfolio__img">
						</a>
					</li>
					<li class="portfolio__item">
						<a href="#" class="portfolio__link">
							<img src="public/imgs/video_2.png" alt="video" class="portfolio__img">
						</a>
					</li>
					<li class="portfolio__item">
						<a href="#" class="portfolio__link">
							<img src="public/imgs/video_3.png" alt="video" class="portfolio__img">
						</a>
					</li>
					<li class="portfolio__item">
						<a href="#" class="portfolio__link">
							<img src="public/imgs/video_2.png" alt="video" class="portfolio__img">
						</a>
					</li>
					<li class="portfolio__item">
						<a href="#" class="portfolio__link">
							<img src="public/imgs/video_3.png" alt="video" class="portfolio__img">
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
