<div class="price-list">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h2 class="price-list__title">
					Contrate sua locação online!
				</h2>
				<h3 class="price-list__subtitle">
					Escolha quantos minutos de locação desejar.
				</h3>

				<ul class="price-list__list">
					<li class="price-list__item">
						<a href="#" class="price-list__link">
							<span class="price-list__thumb">
								<img src="public/imgs/produto.png" alt="Produto" />
							</span>
							<span class="price-list__product-name">
								Locução de 30 segundos, com qualquer locutor do site.
							</span>
							<span class="price-list__from-price">R$250,00</span>
							<span class="price-list__price">R$150,00</span>
							<span class="price-list__buy-button">Comprar</span>
							<span class="price-list__know-more">Saiba mais sobre...</span>
						</a>
					</li>
					<li class="price-list__item">
						<a href="#" class="price-list__link">
							<span class="price-list__thumb">
								<img src="public/imgs/produto.png" alt="Produto" />
							</span>
							<span class="price-list__product-name">
								Locução de 30 segundos, com qualquer locutor do site.
							</span>
							<span class="price-list__from-price">R$250,00</span>
							<span class="price-list__price">R$150,00</span>
							<span class="price-list__buy-button">Comprar</span>
							<span class="price-list__know-more">Saiba mais sobre...</span>
						</a>
					</li>
					<li class="price-list__item">
						<a href="#" class="price-list__link">
							<span class="price-list__thumb">
								<img src="public/imgs/produto.png" alt="Produto" />
							</span>
							<span class="price-list__product-name">
								Locução de 30 segundos, com qualquer locutor do site.
							</span>
							<span class="price-list__from-price">R$250,00</span>
							<span class="price-list__price">R$150,00</span>
							<span class="price-list__buy-button">Comprar</span>
							<span class="price-list__know-more">Saiba mais sobre...</span>
						</a>
					</li>
					<li class="price-list__item">
						<a href="#" class="price-list__link">
							<span class="price-list__thumb">
								<img src="public/imgs/produto.png" alt="Produto" />
							</span>
							<span class="price-list__product-name">
								Locução de 30 segundos, com qualquer locutor do site.
							</span>
							<span class="price-list__from-price">R$250,00</span>
							<span class="price-list__price">R$150,00</span>
							<span class="price-list__buy-button">Comprar</span>
							<span class="price-list__know-more">Saiba mais sobre...</span>
						</a>
					</li>
					<li class="price-list__item">
						<a href="#" class="price-list__link">
							<span class="price-list__thumb">
								<img src="public/imgs/produto.png" alt="Produto" />
							</span>
							<span class="price-list__product-name">
								Locução de 30 segundos, com qualquer locutor do site.
							</span>
							<span class="price-list__from-price">R$250,00</span>
							<span class="price-list__price">R$150,00</span>
							<span class="price-list__buy-button">Comprar</span>
							<span class="price-list__know-more">Saiba mais sobre...</span>
						</a>
					</li>
					<li class="price-list__item">
						<a href="#" class="price-list__link">
							<span class="price-list__thumb">
								<img src="public/imgs/produto.png" alt="Produto" />
							</span>
							<span class="price-list__product-name">
								Locução de 30 segundos, com qualquer locutor do site.
							</span>
							<span class="price-list__from-price">R$250,00</span>
							<span class="price-list__price">R$150,00</span>
							<span class="price-list__buy-button">Comprar</span>
							<span class="price-list__know-more">Saiba mais sobre...</span>
						</a>
					</li>
					<li class="price-list__item">
						<a href="#" class="price-list__link">
							<span class="price-list__thumb">
								<img src="public/imgs/produto.png" alt="Produto" />
							</span>
							<span class="price-list__product-name">
								Locução de 30 segundos, com qualquer locutor do site.
							</span>
							<span class="price-list__from-price">R$250,00</span>
							<span class="price-list__price">R$150,00</span>
							<span class="price-list__buy-button">Comprar</span>
							<span class="price-list__know-more">Saiba mais sobre...</span>
						</a>
					</li>
					<li class="price-list__item">
						<a href="#" class="price-list__link">
							<span class="price-list__thumb">
								<img src="public/imgs/produto.png" alt="Produto" />
							</span>
							<span class="price-list__product-name">
								Locução de 30 segundos, com qualquer locutor do site.
							</span>
							<span class="price-list__from-price">R$250,00</span>
							<span class="price-list__price">R$150,00</span>
							<span class="price-list__buy-button">Comprar</span>
							<span class="price-list__know-more">Saiba mais sobre...</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
