<div class="speakers-showcase">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 offset-lg-1 col-12">
				<h2 class="speakers-showcase__title">
					Conheça nossos Locutores.
				</h2>
				<h3 class="speakers-showcase__subtitle">
					Ouça nossas vozes em alto e bom som.
				</h3>

				<ul class="speakers-showcase__filter">
					<li class="speakers-showcase__filter-item">
						<button class="speakers-showcase__filter-button speakers-showcase__filter-button--active" data-filter="masculina">Voz masculina.</button>
					</li>
					<li class="speakers-showcase__filter-item">
						<button class="speakers-showcase__filter-button" data-filter="feminina">Voz feminina.</button>
					</li>
					<li class="speakers-showcase__filter-item">
						<button class="speakers-showcase__filter-button" data-filter="infantil">Voz infantil.</button>
					</li>
					<li class="speakers-showcase__filter-item">
						<button class="speakers-showcase__filter-button" data-filter="institucional">Institucional.</button>
					</li>
					<li class="speakers-showcase__filter-item">
						<button class="speakers-showcase__filter-button" data-filter="idioma">Idiomas.</button>
					</li>
				</ul>

				<div class="speakers-showcase__results">
					<ul class="speakers-showcase__list">
						<li class="speakers-showcase__item" data-type="masculina">
							<span class="speakers-showcase__photo">
								<img src="public/imgs/locutor.png" alt="locutor" />
							</span>
							<a href="#" class="speakers-showcase__play-button">Clique para ouvir.</a>
							<span class="speakers-showcase__speaker-info">
								<span class="speakers-showcase__speaker-line"><strong>Locutor:</strong> <span>Paulo</span></span>
								<span class="speakers-showcase__speaker-line"><strong>Prazo de entrega:</strong> <span>2 dias</span></span>
								<span class="speakers-showcase__speaker-line"><strong>Estilos:</strong> <span><a href="#">Institucional</a>, <a href="#">Motion Graphics</a>, <a href="#">Emocional</a></span></span>
							</span>
						</li>
						<li class="speakers-showcase__item" data-type="feminina">
							<span class="speakers-showcase__photo">
								<img src="public/imgs/locutora.png" alt="locutor" />
							</span>
							<a href="#" class="speakers-showcase__play-button">Clique para ouvir.</a>
							<span class="speakers-showcase__speaker-info">
								<span class="speakers-showcase__speaker-line"><strong>Locutor:</strong> <span>Luana</span></span>
								<span class="speakers-showcase__speaker-line"><strong>Prazo de entrega:</strong> <span>2 dias</span></span>
								<span class="speakers-showcase__speaker-line"><strong>Estilos:</strong> <span><a href="#">Institucional</a>, <a href="#">Motion Graphics</a>, <a href="#">Emocional</a>, <a href="#">Emocional</a></span></span>
							</span>
						</li>
						<li class="speakers-showcase__item" data-type="infantil">
							<span class="speakers-showcase__photo">
								<img src="public/imgs/locutor.png" alt="locutor" />
							</span>
							<a href="#" class="speakers-showcase__play-button">Clique para ouvir.</a>
							<span class="speakers-showcase__speaker-info">
								<span class="speakers-showcase__speaker-line"><strong>Locutor:</strong> <span>Enzo</span></span>
								<span class="speakers-showcase__speaker-line"><strong>Prazo de entrega:</strong> <span>10 dias</span></span>
								<span class="speakers-showcase__speaker-line"><strong>Estilos:</strong> <span><a href="#">Institucional</a></span></span>
							</span>
						</li>
						<li class="speakers-showcase__item" data-type="masculina">
							<span class="speakers-showcase__photo">
								<img src="public/imgs/locutor.png" alt="locutor" />
							</span>
							<a href="#" class="speakers-showcase__play-button">Clique para ouvir.</a>
							<span class="speakers-showcase__speaker-info">
								<span class="speakers-showcase__speaker-line"><strong>Locutor:</strong> <span>Paulo</span></span>
								<span class="speakers-showcase__speaker-line"><strong>Prazo de entrega:</strong> <span>2 dias</span></span>
								<span class="speakers-showcase__speaker-line"><strong>Estilos:</strong> <span><a href="#">Institucional</a>, <a href="#">Motion Graphics</a>, <a href="#">Emocional</a></span></span>
							</span>
						</li>
						<li class="speakers-showcase__item" data-type="feminina">
							<span class="speakers-showcase__photo">
								<img src="public/imgs/locutora.png" alt="locutor" />
							</span>
							<a href="#" class="speakers-showcase__play-button">Clique para ouvir.</a>
							<span class="speakers-showcase__speaker-info">
								<span class="speakers-showcase__speaker-line"><strong>Locutor:</strong> <span>Luana</span></span>
								<span class="speakers-showcase__speaker-line"><strong>Prazo de entrega:</strong> <span>2 dias</span></span>
								<span class="speakers-showcase__speaker-line"><strong>Estilos:</strong> <span><a href="#">Institucional</a>, <a href="#">Motion Graphics</a>, <a href="#">Emocional</a>, <a href="#">Emocional</a></span></span>
							</span>
						</li>
						<li class="speakers-showcase__item" data-type="infantil">
							<span class="speakers-showcase__photo">
								<img src="public/imgs/locutor.png" alt="locutor" />
							</span>
							<a href="#" class="speakers-showcase__play-button">Clique para ouvir.</a>
							<span class="speakers-showcase__speaker-info">
								<span class="speakers-showcase__speaker-line"><strong>Locutor:</strong> <span>Enzo</span></span>
								<span class="speakers-showcase__speaker-line"><strong>Prazo de entrega:</strong> <span>10 dias</span></span>
								<span class="speakers-showcase__speaker-line"><strong>Estilos:</strong> <span><a href="#">Institucional</a></span></span>
							</span>
						</li>
						<li class="speakers-showcase__item" data-type="masculina">
							<span class="speakers-showcase__photo">
								<img src="public/imgs/locutor.png" alt="locutor" />
							</span>
							<a href="#" class="speakers-showcase__play-button">Clique para ouvir.</a>
							<span class="speakers-showcase__speaker-info">
								<span class="speakers-showcase__speaker-line"><strong>Locutor:</strong> <span>Paulo</span></span>
								<span class="speakers-showcase__speaker-line"><strong>Prazo de entrega:</strong> <span>2 dias</span></span>
								<span class="speakers-showcase__speaker-line"><strong>Estilos:</strong> <span><a href="#">Institucional</a>, <a href="#">Motion Graphics</a>, <a href="#">Emocional</a></span></span>
							</span>
						</li>
						<li class="speakers-showcase__item" data-type="feminina">
							<span class="speakers-showcase__photo">
								<img src="public/imgs/locutora.png" alt="locutor" />
							</span>
							<a href="#" class="speakers-showcase__play-button">Clique para ouvir.</a>
							<span class="speakers-showcase__speaker-info">
								<span class="speakers-showcase__speaker-line"><strong>Locutor:</strong> <span>Luana</span></span>
								<span class="speakers-showcase__speaker-line"><strong>Prazo de entrega:</strong> <span>2 dias</span></span>
								<span class="speakers-showcase__speaker-line"><strong>Estilos:</strong> <span><a href="#">Institucional</a>, <a href="#">Motion Graphics</a>, <a href="#">Emocional</a>, <a href="#">Emocional</a></span></span>
							</span>
						</li>
						<li class="speakers-showcase__item" data-type="infantil">
							<span class="speakers-showcase__photo">
								<img src="public/imgs/locutor.png" alt="locutor" />
							</span>
							<a href="#" class="speakers-showcase__play-button">Clique para ouvir.</a>
							<span class="speakers-showcase__speaker-info">
								<span class="speakers-showcase__speaker-line"><strong>Locutor:</strong> <span>Enzo</span></span>
								<span class="speakers-showcase__speaker-line"><strong>Prazo de entrega:</strong> <span>10 dias</span></span>
								<span class="speakers-showcase__speaker-line"><strong>Estilos:</strong> <span><a href="#">Institucional</a></span></span>
							</span>
						</li>
						<li class="speakers-showcase__item" data-type="masculina">
							<span class="speakers-showcase__photo">
								<img src="public/imgs/locutor.png" alt="locutor" />
							</span>
							<a href="#" class="speakers-showcase__play-button">Clique para ouvir.</a>
							<span class="speakers-showcase__speaker-info">
								<span class="speakers-showcase__speaker-line"><strong>Locutor:</strong> <span>Paulo</span></span>
								<span class="speakers-showcase__speaker-line"><strong>Prazo de entrega:</strong> <span>2 dias</span></span>
								<span class="speakers-showcase__speaker-line"><strong>Estilos:</strong> <span><a href="#">Institucional</a>, <a href="#">Motion Graphics</a>, <a href="#">Emocional</a></span></span>
							</span>
						</li>
						<li class="speakers-showcase__item" data-type="institucional">
							<span class="speakers-showcase__photo">
								<img src="public/imgs/locutora.png" alt="locutor" />
							</span>
							<a href="#" class="speakers-showcase__play-button">Clique para ouvir.</a>
							<span class="speakers-showcase__speaker-info">
								<span class="speakers-showcase__speaker-line"><strong>Locutor:</strong> <span>Luana</span></span>
								<span class="speakers-showcase__speaker-line"><strong>Prazo de entrega:</strong> <span>2 dias</span></span>
								<span class="speakers-showcase__speaker-line"><strong>Estilos:</strong> <span><a href="#">Institucional</a>, <a href="#">Motion Graphics</a>, <a href="#">Emocional</a>, <a href="#">Emocional</a></span></span>
							</span>
						</li>
						<li class="speakers-showcase__item" data-type="idioma">
							<span class="speakers-showcase__photo">
								<img src="public/imgs/locutor.png" alt="locutor" />
							</span>
							<a href="#" class="speakers-showcase__play-button">Clique para ouvir.</a>
							<span class="speakers-showcase__speaker-info">
								<span class="speakers-showcase__speaker-line"><strong>Locutor:</strong> <span>Enzo</span></span>
								<span class="speakers-showcase__speaker-line"><strong>Prazo de entrega:</strong> <span>10 dias</span></span>
								<span class="speakers-showcase__speaker-line"><strong>Estilos:</strong> <span><a href="#">Institucional</a></span></span>
							</span>
						</li>
						<li class="speakers-showcase__item" data-type="idioma">
							<span class="speakers-showcase__photo">
								<img src="public/imgs/locutor.png" alt="locutor" />
							</span>
							<a href="#" class="speakers-showcase__play-button">Clique para ouvir.</a>
							<span class="speakers-showcase__speaker-info">
								<span class="speakers-showcase__speaker-line"><strong>Locutor:</strong> <span>Paulo</span></span>
								<span class="speakers-showcase__speaker-line"><strong>Prazo de entrega:</strong> <span>2 dias</span></span>
								<span class="speakers-showcase__speaker-line"><strong>Estilos:</strong> <span><a href="#">Institucional</a>, <a href="#">Motion Graphics</a>, <a href="#">Emocional</a></span></span>
							</span>
						</li>
					</ul>

					<button class="speakers-showcase__load-more">Carregar mais</button>
				</div>
			</div>
		</div>
	</div>
</div>
