<div class="testimonials">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h3 class="testimonials__title">
					Depoimento dos clientes.
				</h2>
				<h3 class="testimonials__subtitle">
					Vejam abaixo o que nossos clientes falam sobre nós.
				</h3>
				<div class="testimonials__slider">
					<ul class="testimonials__list">
						<li class="testimonials__item">
							<span class="testimonials__logo">
								<img src="public/imgs/depoimento_1.png" alt="99 Áudios" />
							</span>
							<span class="testimonials__paragraph">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse quis accumsan sapien, eu vestibulum libero. Donec quis erat vel justo finibus aliquet quis eget arcu. Quisque hendrerit, sem eu sollicitudin.
							</span>
							<span class="testimonials__author">
								<span class="testimonials__author-picture">
									<img src="public/imgs/cliente_depoimento.png" alt="Depoimento">
								</span>
								<span class="testimonials__author-name">
									Laísa Bruna - 99 Aúdios
								</span>
							</span>
						</li>
						<li class="testimonials__item">
							<span class="testimonials__logo">
								<img src="public/imgs/depoimento_2.png" alt="99 Áudios" />
							</span>
							<span class="testimonials__paragraph">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse quis accumsan sapien, eu vestibulum libero. Donec quis erat vel justo finibus aliquet quis eget arcu. Quisque hendrerit, sem eu sollicitudin.
							</span>
							<span class="testimonials__author">
								<span class="testimonials__author-picture">
									<img src="public/imgs/cliente_depoimento.png" alt="Depoimento">
								</span>
								<span class="testimonials__author-name">
									Laísa Bruna - 99 Aúdios
								</span>
							</span>
						</li>
						<li class="testimonials__item">
							<span class="testimonials__logo">
								<img src="public/imgs/depoimento_3.png" alt="99 Áudios" />
							</span>
							<span class="testimonials__paragraph">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse quis accumsan sapien, eu vestibulum libero. Donec quis erat vel justo finibus aliquet quis eget arcu. Quisque hendrerit, sem eu sollicitudin.
							</span>
							<span class="testimonials__author">
								<span class="testimonials__author-picture">
									<img src="public/imgs/cliente_depoimento.png" alt="Depoimento">
								</span>
								<span class="testimonials__author-name">
									Laísa Bruna - 99 Aúdios
								</span>
							</span>
						</li>
						<li class="testimonials__item">
							<span class="testimonials__logo">
								<img src="public/imgs/depoimento_1.png" alt="99 Áudios" />
							</span>
							<span class="testimonials__paragraph">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse quis accumsan sapien, eu vestibulum libero. Donec quis erat vel justo finibus aliquet quis eget arcu. Quisque hendrerit, sem eu sollicitudin.
							</span>
							<span class="testimonials__author">
								<span class="testimonials__author-picture">
									<img src="public/imgs/cliente_depoimento.png" alt="Depoimento">
								</span>
								<span class="testimonials__author-name">
									Laísa Bruna - 99 Aúdios
								</span>
							</span>
						</li>
						<li class="testimonials__item">
							<span class="testimonials__logo">
								<img src="public/imgs/depoimento_2.png" alt="99 Áudios" />
							</span>
							<span class="testimonials__paragraph">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse quis accumsan sapien, eu vestibulum libero. Donec quis erat vel justo finibus aliquet quis eget arcu. Quisque hendrerit, sem eu sollicitudin.
							</span>
							<span class="testimonials__author">
								<span class="testimonials__author-picture">
									<img src="public/imgs/cliente_depoimento.png" alt="Depoimento">
								</span>
								<span class="testimonials__author-name">
									Laísa Bruna - 99 Aúdios
								</span>
							</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
