@mixin font-face($name, $font-name, $weight, $style) {
  @font-face {
    font-family: $name;
    font-weight: $weight;
    font-style: $style;
    src: url("#{$font-name}.eot");
    src: url("#{$font-name}.eot?#iefix") format('embedded-opentype'),
    url("#{$font-name}.woff") format('woff'),
    url("#{$font-name}.ttf") format('truetype'),
    url('{$font-name}.svg#{$font-name}') format('svg');
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

$font-path: "../fonts/";
$fonts: (
  ("Gotham", "Gotham-Book", 300, normal),
  ("Gotham", "Gotham-Medium", 400, normal),
  ("Gotham", "Gotham-Bold", 800, normal),
  ("Solomon", "SolomonSansBlackItalic", 300, normal),
  ("Yellow", "Yellow", 300, normal)
);

@each $font in $fonts {
  @include font-face(nth($font, 1), $font-path + nth($font, 2), nth($font, 3), nth($font, 4));
}
