//border-radius
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

//font-size
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

//transitions
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

//transform
@mixin transform($args...) {
    -ms-transform:  $args; /* IE 9 */
    -webkit-transform:  $args; /* Chrome, Safari, Opera */
    transform:  $args;
}

@mixin animation ($args...) {
  -webkit-animation: $args; /* Safari 4+ */
  -moz-animation:    $args; /* Fx 5+ */
  -o-animation:      $args; /* Opera 12+ */
  animation:         $args; /* IE 10+, Fx 29+ */
}
