@import 'base/fonts';
@import 'base/variables';
@import 'base/mixins';

body {
  background-color: $bodybg;
  font-family: 'Gotham', sans-serif;
  color: $darkgray;
  font-weight: 200;
  font-smooth: always;
  text-rendering: geometricPrecision;

}

input,
textarea,
button {
  background-color: $white;
  font-family: 'Gotham', sans-serif;
  color: $darkgray;
  font-smooth: always;
  text-rendering: geometricPrecision;
}

a,
button {
    @include transition (.3s ease-in-out);
    cursor: pointer;
    text-decoration: none;

    &:hover {
      opacity: .75;
    }
}

h1, h2, h3, h4, h5 {
    font-weight: 900;
}

@media screen and (min-width: $desktop) {
  .container {
    max-width: 1280px;
  }
}
