//basics
$black: #4e4e4e;
$white: #fff;
$bodybg: #FCFCFC;

//colors
$green: #48AD40;
$lightgreen: #1DBF73;
$darkgray: #666;
$darkestgray: #333;
$gray: #888;
$lightgray: #ccc;
$yellow: #FFC100;


//Breakpoints
$miniphone: 320px;
$phone: 480px;
$phablet: 600px;
$tablet: 800px;
$tablet-wide: 1024px;
$desktop: 1200px;
$desktop-wide:1440px;
